.wrapper-login{
    width: 500px;
    margin: 0 auto;
   margin-top: 50px;
}
.marginb20{
    margin-bottom: 20px;
    
}
form {
    height: auto;
    margin-top: 20px;
}
.panel-default > .panel-heading{
    
    background-color: #FFF;
}
.panel-footer{background-color: #FFF;}
.login-title {
    width: 65%;
    display: inline-block;
    vertical-align: middle;
    padding-left: 20px;
    font-weight: bold;
}
.login-logo {
    width: 30%;
    display: inline-block;
    height: 80px;
    line-height: 80px;
    vertical-align: middle;
    text-align: center;
}
.login-logo img {
    max-width: 100%;
    max-height: 100%;
    
}